[submodule "tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/orphanswanted"]
	path = tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/orphanswanted
	url = https://github.com/lupo49/dokuwiki-plugin-orphanswanted
[submodule "tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/addnewpage"]
	path = tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/addnewpage
	url = https://github.com/samwilson/dokuwiki-plugin-addnewpage/
[submodule "tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/editx"]
	path = tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/editx
	url = https://github.com/danny0838/dw-editx/
[submodule "tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/upgrade"]
	path = tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/upgrade
	url = https://github.com/splitbrain/dokuwiki-plugin-upgrade/
[submodule "tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/titlesanchorlink"]
	path = tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/titlesanchorlink
	url = https://github.com/Dric/dokuwiki-titlesanchorlink/
[submodule "tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/text"]
	path = tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/text
	url = https://github.com/michitux/dokuwiki-plugin-text/
[submodule "tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/orphanmedia"]
	path = tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/orphanmedia
	url = https://github.com/Taggic/orphanmedia/
[submodule "tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/markdownextra"]
	path = tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/markdownextra
	url = https://github.com/naokij/dokuwiki-plugin-markdownextra/
[submodule "tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/indexmenu"]
	path = tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/indexmenu
	url = https://github.com/samuelet/indexmenu
[submodule "tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/xbr"]
	path = tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/xbr
	url = https://github.com/Chris--S/dokuwiki-plugin-xbr
[submodule "tree/usr/share/nodezero/additions/tt-rss/plugins/tt-rss-yourls"]
	path = tree/usr/share/nodezero/additions/tt-rss/plugins/tt-rss-yourls
	url = https://github.com/acaranta/tt-rss-yourls
[submodule "tree/usr/share/nodezero/additions/tt-rss/plugins/tt-rss_plugin_readability"]
	path = tree/usr/share/nodezero/additions/tt-rss/plugins/tt-rss_plugin_readability
	url = https://github.com/ebell451/tt-rss_plugin_readabillity
[submodule "tree/usr/share/nodezero/additions/tt-rss/plugins/Tiny-Tiny-RSS-Contrib"]
	path = tree/usr/share/nodezero/additions/tt-rss/plugins/Tiny-Tiny-RSS-Contrib
	url = https://github.com/gothfox/Tiny-Tiny-RSS-Contrib
[submodule "tree/usr/share/nodezero/additions/tt-rss/plugins/ttrss-facebook"]
	path = tree/usr/share/nodezero/additions/tt-rss/plugins/ttrss-facebook
	url = https://github.com/dotdavid/ttrss-facebook
[submodule "tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/include"]
	path = tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/include
	url = https://github.com/dokufreaks/plugin-include/
[submodule "tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/ckgedit"]
	path = tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/ckgedit
	url = https://github.com/turnermm/ckgedit/
[submodule "tree/usr/share/nodezero/additions/tt-rss/plugins/framarticle_toolbar"]
	path = tree/usr/share/nodezero/additions/tt-rss/plugins/framarticle_toolbar
	url = https://github.com/framasoft/framarticle_toolbar
[submodule "tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/gallery"]
	path = tree/usr/share/nodezero/additions/dokuwiki/lib/plugins/gallery
	url = https://github.com/splitbrain/dokuwiki-plugin-gallery/
[submodule "tree/usr/share/nodezero/additions/tt-rss/themes/chalk"]
	path = tree/usr/share/nodezero/additions/tt-rss/themes/chalk
	url = https://github.com/asyncopation/ttrss-theme-chalk
[submodule "tree/usr/share/nodezero/additions/tt-rss/themes/grone"]
	path = tree/usr/share/nodezero/additions/tt-rss/themes/grone
	url = https://github.com/cas--/tt-rss_theme_grone
[submodule "tree/usr/share/nodezero/additions/tt-rss/themes/feedly"]
	path = tree/usr/share/nodezero/additions/tt-rss/themes/feedly
	url = https://github.com/levito/tt-rss-feedly-theme
[submodule "tree/usr/share/nodezero/additions/tt-rss/themes/reeder"]
	path = tree/usr/share/nodezero/additions/tt-rss/themes/reeder
	url = https://github.com/tschinz/tt-rss_reeder_theme
[submodule "tree/usr/share/nodezero/additions/tt-rss/plugins/ttrss-qrcode"]
	path = tree/usr/share/nodezero/additions/tt-rss/plugins/ttrss-qrcode
	url = https://github.com/jonrandoem/ttrss-qrcode
[submodule "tree/usr/share/nodezero/additions/tt-rss/plugins/poche"]
	path = tree/usr/share/nodezero/additions/tt-rss/plugins/poche
	url = https://github.com/jcsaaddupuy/tt-rss-poche
[submodule "tree/usr/share/nodezero/additions/tt-rss/plugins/tt-rss-shaarli"]
	path = tree/usr/share/nodezero/additions/tt-rss/plugins/tt-rss-shaarli
	url = https://github.com/jcsaaddupuy/tt-rss-shaarli
[submodule "tree/usr/share/nodezero/additions/tt-rss/plugins/tt-rss_plugin_readabillity"]
	path = tree/usr/share/nodezero/additions/tt-rss/plugins/tt-rss_plugin_readabillity
	url = https://github.com/ebell451/tt-rss_plugin_readabillity
[submodule "tree/usr/share/nodezero/additions/tt-rss/plugins/ttrss-videoframes"]
	path = tree/usr/share/nodezero/additions/tt-rss/plugins/ttrss-videoframes
	url = https://github.com/tribut/ttrss-videoframes
[submodule "tree/usr/share/nodezero/additions/tt-rss/plugins/ttrss-sendtokindle"]
	path = tree/usr/share/nodezero/additions/tt-rss/plugins/ttrss-sendtokindle
	url = https://github.com/usr42/ttrss-sendtokindle
[submodule "tree/usr/share/nodezero/additions/tt-rss/plugins/tt-rss-tumblr"]
	path = tree/usr/share/nodezero/additions/tt-rss/plugins/tt-rss-tumblr
	url = https://github.com/epyonavenger/tt-rss-tumblr
[submodule "tree/usr/share/logwatch-modsec2"]
	path = tree/usr/share/logwatch-modsec2
	url = https://github.com/derhansen/logwatch-modsec2
