[submodule "maps"]
	path = maps
	url = https://github.com/MapBBCode/share.mapbbcode.org
[submodule "readityourself"]
	path = readityourself
	url = https://github.com/memiks/readityourself
[submodule "images"]
	path = images
	url = https://github.com/sebsauvage/MinigalNano
[submodule "alltube"]
	path = alltube
	url = https://github.com/Rudloff/alltube
[submodule "markdown-edit"]
	path = markdown-edit
	url = https://github.com/georgeOsdDev/markdown-edit
[submodule "links"]
	path = links
	url = https://github.com/shaarli/Shaarli
[submodule "dev/bugs"]
	path = bugs
	url = https://github.com/piero-la-lune/Bumpy-Booby
[submodule "ttrss-mobile"]
	path = ttrss-mobile
	url = https://github.com/mboinet/ttrss-mobile
[submodule "dev/paste"]
	path = paste
	url = https://github.com/claudehohl/Stikked
[submodule "url"]
	path = url
	url = https://github.com/YOURLS/YOURLS
[submodule "wallabag"]
	path = wallabag
	url = https://github.com/wallabag/wallabag
[submodule "tt-rss"]
	path = tt-rss
	url = https://github.com/gothfox/Tiny-Tiny-RSS
[submodule "blog"]
	path = blog
	url = https://github.com/chyrp/chyrp/
[submodule "wiki"]
	path = wiki
	url = https://github.com/splitbrain/dokuwiki
